body {
    background-color: #757575;
    font-family: verdana;
    line-height: 140%;
    color: #000;}

h2 {
    margin: 30px 0px;
    font-size: 60px;
    color: #2385da;
    font-family: arial;
    padding-bottom: 25px;
    border-bottom: none;}
        
h3 {
    color: #000;
    font-size: 30px;
    padding-top: 3px;
    height: 30px;
    margin: 0px 0px 0px 0px;}
    
h4 {    
    margin-bottom: 10px;
    font-size: 130%;}

a:link {color: #000; font-weight: bold; text-decoration: underline;}
a:visited {color: #000; font-weight: bold; text-decoration: underline;}
a:active {color: #000; font-weight: bold; text-decoration: underline;}
a:hover {color: #000; font-weight: bold; text-decoration: none;}

p   {margin: 10px 0px 20px 0px;
    font-size: 120%;
    line-height: 1.6;}

    
#navcontainer ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0px;
    background-color: #525a18;
    float: left;
/*  width: 100%; */}

#navcontainer ul li {display: inline;}

#navcontainer ul li a {
    padding: 0.2em 0.8em;
    background-color: #ff9900;
    color: #000;
    text-decoration: none;
    float: left;
    font-size: 20px;
    font-weight: bold;}
        
#navcontainer ul li a:hover {
    background-color: #0b9516;
    color: #000;}

#OuterBox {
    border: none;
    padding: none;
    margin: 80px 100px 0px 100px;
    background-color: none;}
    
#InnerBox {
    border: 0px solid #000;
    padding: none;
    background-color: none;}
    
.contents {
    border: 5px solid #000;
    background-color: #cccccc;
    padding: 10px 30px;
    text-align: justify;
    font-size: 15px;}

ul.norm {
    margin-top: 0px;
    margin-bottom: 25px;}  
        
ul.norm li {list-style-type: square;}

.clear {clear: both;}
.borderless {border: none;}
.fleft {float: left;}
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}

.copyright {
    border: none;
    margin: 0px 100px 10px 100px;
    text-align: right;
    color: #000;
    font-size: 10px;}
