body {
    background-color: #e5a1a1;
    font-family: verdana;
    line-height: 140%;
    color: #871533;}

h2 {
    margin: 30px 0px 30px 0px;
    font-size: 60px;
    color: #50a7e4;
    font-family: arial;
    padding-bottom: 25px;
    border-bottom: 4px dashed #096793;}
        
h3 {
    color: #4f091b;
    font-size: 30px;
    background: url('../images/rose.gif') no-repeat;
    padding: 3px 0px 0px 37px;
    height: 30px;
    margin: 0px 0px 0px 0px;}
    
h4 {    
    margin-left: 37px;
    margin-bottom: 10px;
    font-size: 140%}    

a:link {color: #4f091b; font-weight: bold; text-decoration: underline;}
a:visited {color: #4f091b; font-weight: bold; text-decoration: underline;}
a:active {color: #4f091b; font-weight: bold; text-decoration: underline;}
a:hover {color: #4f091b; font-weight: bold; text-decoration: none;}

p   {margin: 10px 0px 20px 40px;
    font-size: 120%;}

    
#navcontainer ul {
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #525a18;
    float: left;
/*  width: 100%; */}

#navcontainer ul li {display: inline;}

#navcontainer ul li a {
    padding: 0.2em 0.8em;
    background-color: #4f091b;
    color: #facaca;
    text-decoration: none;
    float: left;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    font-size: 20px;
    font-weight: bold;}
        
#navcontainer ul li a.left {border-left: 1px solid #000;}
#navcontainer ul li a.right {border-right: 1px solid #000;}

#navcontainer ul li a:hover {
    background-color: #facaca;
    color: #4f091b;}



#OuterBox {
    border: 1px solid #000;
    padding: 5px;
    margin: 80px 100px 0px 100px;
    background-color: #871533;}
    
#InnerBox {
    border: 1px solid #000;
    padding: 5px;
    background-color: #e47878;}
    
.contents {
    border: 1px solid #000;
    background-color: #facaca;
    padding: 10px 30px;
    text-align: justify;
    font-size: 15px;}

ul.norm {
    margin-top: 0px;
    margin-bottom: 25px;}  
        
ul.norm li {list-style-type: square;}

.clear {clear: both;}
.borderless {border: none;}
.fleft {float: left;}
.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}



.copyright {
    border: none;
    margin: 0px 100px 10px 100px;
    text-align: right;
    color: #000;
    font-size: 10px;}
